@charset "utf-8";
/* CSS Document */
body{
            background-color:#CA97F3;
        }
        h1{
            color: deeppink;
            margin-left: 40px;
        }
        p{
            color: yellow;
            text-align: center;
        xoscobdobdbe}